<th:block th:if="${contact.resourceName}">
    <form th:action="@{/contacts/edit}" method="post" onsubmit="fillEmptyFields(event)">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="id" th:value="${#uris.escapePath(contact.resourceName)}" />
        <input type="hidden" name="etag" th:value="${contact.etag}" />
        
        Name: <input type="text" id="name" name="name" th:value="${contact.name} " required
                     th:attr="data-original=${contact.name}"><br>
        Email: <input type="email" id="email" name="email" th:value="${contact.email}" required
                      th:attr="data-original=${contact.email}"><br>
        Phone Number: <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${contact.phoneNumber}" required
                             th:attr="data-original=${contact.phoneNumber}"><br>
        
        <button type="submit" onclick="return confirm('Save changes?')">Update Contact</button>
    </form>
</th:block>